
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="stylesheet" href="assets/css/jquery-ui.css">
		<link rel="stylesheet" href="assets/css/bootstrap.css">
		<link rel="stylesheet" href="assets/css/chosen.css">
		<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.css">
		<link rel="stylesheet" href="assets/css/style.css" media="all">
		<link rel="stylesheet" href="assets/css/login.css">

		
		<script src="assets/js/jquery-1.11.3.min.js"></script>
		<script src="assets/js/jquery-ui.js"></script>
		<script src="assets/js/jquery-ui.multidatespicker.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/chosen.jquery.js"></script>
		<script src="assets/js/jquery.maskedinput.js"></script>
		<script src="assets/js/accounting.min.js"></script>
		<script src="assets/js/jquery.validate.js"></script>
		<script src="assets/js/additional-methods.min.js"></script>
		<script src="assets/js/echarts.min.js"></script>
		<script src="assets/js/moment.js"></script>
		<script src="assets/js/bootstrap-datetimepicker.min.js"></script>
		<script src="assets/js/function.js"></script>
	</head>

	<body>
		<div class="login-area">
			<h2 class="title-wrapper"><span>江西省水文局蒸发量查询报送系统</span></h2>
			<div class="container-fluid menu-wrapper">
				<div class="row">
					<div class="content-column-area col-sm-12 col-xs-12">
						<div class="fieldset show-wrapper">
							<h2 class="corpcolor-font"><span>导航菜单</span></h2>
							<div class="row">
								<div class="no-margin-top col-sm-4 col-xs-12">
									<a class="btn btn-sm btn-primary" href="asd">蒸发量查询</a>
								</div>
								<div class="no-margin-top col-sm-4 col-xs-12">
									<a class="btn btn-sm btn-primary" href="asd">蒸发量报送</a>
								</div>
								<div class="no-margin-top col-sm-4 col-xs-12">
									<a class="btn btn-sm btn-primary" href="asd">退出登录</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="error">错误：</div>
			<div class="container-fluid">
				<div class="row">
					<div class="content-column-area col-sm-12 col-xs-12">
						<div class="fieldset post-wrapper">
							<h2 class="corpcolor-font"><span>数据报送 - 茶芫站</span></h2>
							<form method="post">
								<table>
									<tbody>
										<tr>
											<td>前日蒸发量</td>
										</tr>
										<tr>
											<td class="yesterday-data">126</td>
										</tr>
										<tr>
											<td>昨日蒸发量</td>
										</tr>
										<tr>
											<td><input type="number" id="user_password" name="user_password" class="form-control input-sm required" placeholder="今日蒸发量" value="" /></td>
										</tr>
										<tr>
											<td><button type="submit" class="btn-login btn btn-sm btn-primary pull-right"><i class="glyphicon glyphicon-send"></i> 提交</button></td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>