@charset "utf-8";
/* CSS Document */



		
/* login-area */
.login-area {
	position: absolute;
	/*top: 50%;
	left: 50%;*/
	width: 418px;
	height: auto;
	/*margin-top: -150px;
	margin-left: -210px;*/
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 30px 0;
}
.login-area h2 {
	margin-top: -18px;
}
.login-area h2 span {
	background-color: #fff;
}
.login-area .fieldset {
	height: auto;
}
.login-area .fieldset.right {
	background-color: #5897fb;
	color: #fff;
}
.login-area table td {
	padding: 3px 0px;
}
.login-area .footer-area .container-fluid {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}
.login-area div.error{
	margin:15px 15px 10px 15px;padding:5px 15px;text-align:center;font-size: 14px;
	/*background: whitesmoke;*/
	border:1px dashed red;
	color: red;
}
.login-area label.error{
	display:none !important;
}

/* Michael.Miao */
body{
	margin: 0;
	padding: 0;
}
.no-margin-top{
	margin-top: 0 !important;
}
.login-area div[class*="col-xs-"] {
    margin-top: 15px;
}
.login-area .title-wrapper{
	text-align: center;
	padding: 0 15px;
	color:#337ab7;
}
.login-area .menu-wrapper{

}
.login-area .menu-wrapper a{
	display: block;
}
.login-area .corpcolor-font{
	font-size: 16px;
}
.login-area .post-wrapper{
	/*height: auto;*/
}
.login-area .post-wrapper .yesterday-data{
	font-size: 22px;
	text-align: center;
}
.login-area .show-wrapper{
	/*height: auto;*/
}
.login-area .show-wrapper hr{
	margin-top:3px;
	margin-bottom: 0;
}
.login-area .show-wrapper .th-date{
	text-align: left;
	width:33.3%;
}
.login-area .show-wrapper .th-time{
	text-align: center;
	width:33.3%;
}
.login-area .show-wrapper .th-data{
	text-align: right;
	width:33.3%;
}
/* Michael.Miao */

@media (max-width: 991px) {

	/* login-area */
	.login-area .fieldset.left {
		margin-right: -8px;
	}
	.login-area .fieldset.right {
		margin-top: 0px;
		margin-left: -8px;
	}
}

@media (max-width: 767px) {

	/* login-area */
	.login-area {
		/*width: 308px;*/
		width: 100%;
		height: auto;
		/*margin-top: -255px;
		margin-left: -155px;*/
		top: 0;
		left: 0;
		border: none;
	}
	.login-area .fieldset.left {
		margin-right: 0px;
	}
	.login-area .fieldset.right {
		margin-top: 10px;
		margin-left: 0px;
	}
	.no-margin-top:first-child{
		margin-top: 0 !important;
	}
	.no-margin-top{
		margin-top: 15px !important;
	}
}
